<div class="uk-margin">
    <div class="uk-button uk-form-select uk-active" data-uk-form-select>
        <span>One</span>
        <select id="visible_statistics">
            <option value="1">Показать статистику 1</option>
            <option value="2">Показать статистику 2</option>
        </select>
    </div>
</div>
<div id="chart_div" style='visibility: hidden; width: 900px; height: 500px;'></div>

<div id="barchart_values" style='visibility: hidden; width: 900px; height: 500px;'></div>