{% include 'tpl/head.tpl' %}
<body>
{% block body %}
    <div class="tm-middle">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                {% include 'tpl/news.tpl' %}
            </div>
        </div>
    {% include 'tpl/navigation.tpl' %}
    </div>
{% endblock %}

</body>
</html>