{% include 'admin/tpl/head.tpl' %}
<body>
{% if session['adm_key'] %}
    {% include 'admin/tpl/navigation.tpl' %}
    {% block body %}
        <div class="tm-middle uk-container uk-container-center uk-text-center" style="width: 86%;">
            <div class="uk-grid" data-uk-grid-margin>
                {% include 'admin/tpl/home.tpl' %}
            </div>
        </div>
    {% endblock %}
    {% else %}
        <div class="tm-middle uk-container uk-container-center uk-text-center" style="width: 86%;">
            <div class="uk-grid">
                {% include 'admin/tpl/auth.tpl' %}
            </div>
        </div>
{% endif %}
</body>
</html>