{% include 'admin/tpl/head.tpl' %}
<body>
    {% include 'admin/tpl/navigation.tpl' %}
    {% block body %}
        <div class="tm-middle uk-container uk-container-center uk-text-center" style="width: 86%;">
            <div class="uk-grid" data-uk-grid-margin>
                {% include 'admin/tpl/news.tpl' %}
            </div>
        </div>
    {% endblock %}
</body>
</html>