{% include 'admin/tpl/head.tpl' %}
<body>
    {% include 'admin/tpl/navigation.tpl' %}
    {% block body %}
        <div class="tm-main uk-container uk-container-center uk-text-center uk-width-medium-3-4">
            <div class="uk-grid" data-uk-grid-margin>
                {% include 'admin/tpl/statistics.tpl' %}
            </div>
        </div>
    {% endblock %}
</body>
</html>